body {
  color: #333;
  font-family: "游ゴシック", sans-serif;
  margin: 0;
  background-color: burlywood;
}

header {
  background-color: bisque;
  text-align: center;
  margin-top: 30px;
  padding: 20px;
}

.member {
  background-color: cornsilk;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  padding: 30px 4% 0;
  text-align: center;
}

.member>section {
  background-color: white;
  padding: 30px 4%;
  margin-bottom: 20px;
  display: flex;
  text-align: left;
  border-width: 5px;
  border-style: solid;
  border-color: rgb(211, 61, 35);
}

.icon {
  width: 30%;
  align-items: center;
}

.icon img {
  width: 100%;
  object-fit: contain;
}

.setsumei {
  margin-top: 20px;
  margin-left: 4%;
}

.text{
  padding: 40px 0;
}

footer {
  text-align: center;
  font: size 14px;
  margin-top: 30px;
  margin-bottom: 60px;
}

@media screen and (max-width:600px) {
  .member>p{
    margin-bottom: 30px;
  }
  .member>section {
    flex-direction: column;
    text-align: center;
  }
  .icon {
    width: 100%;
  }

  .setsumei{
    margin-left: 0;
  }
}